.about-goals{
    display: block;
    padding: .5em .5em .5em 1em;
    margin: .5em;
    font-weight: bold;
    background: #3fa0e1;
}
ul{
    padding: .5em;
}
.title{
    background: #A5f883;
    padding: 1em;
    margin-bottom:0; 
    font-size: 1.25em;
    font-weight: bolder;
}
a{
    font-weight: bolder;
}